/*html, body, div, span, applet, object, iframe,*/
/*h1, h2, h3, h4, h5, h6, p, blockquote, pre,*/
/*a, abbr, acronym, address, big, cite, code,*/
/*del, dfn, em, img, ins, kbd, q, s, samp,*/
/*small, strike, strong, sub, sup, tt, var,*/
/*b, u, i, center,*/
/*dl, dt, dd, ol, ul, li,*/
/*fieldset, form, label, legend,*/
/*table, caption, tbody, tfoot, thead, tr, th, td,*/
/*article, aside, canvas, details, embed,*/
/*figure, figcaption, footer, header, hgroup,*/
/*menu, nav, output, ruby, section, summary,*/
/*time, mark, audio, video {*/
    /*margin: 0;*/
    /*padding: 0;*/
    /*border: 0;*/
    /*font-size: 100%;*/
    /*font: inherit;*/
    /*vertical-align: baseline;*/
/*}*/
/*!* HTML5 display-role reset for older browsers *!*/
/*article, aside, details, figcaption, figure,*/
/*footer, header, hgroup, menu, nav, section {*/
    /*display: block;*/
/*}*/
/*body {*/
    /*line-height: 1;*/
/*}*/
/*ol, ul {*/
    /*list-style: none;*/
/*}*/
/*blockquote, q {*/
    /*quotes: none;*/
/*}*/
/*blockquote:before, blockquote:after,*/
/*q:before, q:after {*/
    /*content: '';*/
    /*content: none;*/
/*}*/
/*table {*/
    /*border-collapse: collapse;*/
    /*border-spacing: 0;*/

/*subtitles*/
h1 {
    width: 100%;
    color: #fff;
    font-family: Lato;
    text-transform: uppercase;
    font-size: 48px;
    letter-spacing: 0.16em;
    text-align: center;
}
.title-line {
    width: 105px;
    height:2px;
    background-color: #fff;
    margin: 53px auto 27px;
}
h2 {
    color: #000;
    font-family: Lato;
    font-weight: Bold;
    text-transform: uppercase;
    font-size: 34px;
    letter-spacing: 0.16em;
    text-align: center;
    margin: 80px auto 50px;
}
.header-line {
    width: 81px;
    height: 1px;
    background-color: #000;
    margin: 51px auto 132px;
}
h3 {
    color: #000;
    font-family: Lato;
    font-weight: Bold;
    text-transform: uppercase;
    font-size: 26px;
    letter-spacing: 0.16em;
    margin: 0 auto 50px 0;
}
/*NAVIGATION*/
.header-nav {
    padding-top: 55px;
    height: 65px;
    line-height: 65px;
}
.glyphicon-menu-hamburger {
    top: -12px;
}
.anchor {
    margin: 0;
}

/*FOOTER*/
footer {
    width: 100%;
    height: 268px;
    background: #3c3c3c;
    text-align: center;
}
.footer-nav {
    padding-top: 55px;
    height: 65px;
    line-height: 65px;
}
.footer-menu {
    list-style-type: none;
}
.footer-menu li {
    padding: 0 25px;
    display: inline-block;
}
.footer-menu li a {
    color: #a4a4a4;
    text-transform: uppercase;
    font-family: Lato;
    font-size: 25px;
}
.footer-menu li a:hover,
.footer-menu li a:focus {
    text-decoration: none;
    color: #fff;
}

/*main page*/

.main-page {
    width: 100%;
    height: 1080px;
    padding: 0;
    color: #797979;
    background-image: url("../image/title-photo.png");
    background-size: cover;
}
.mpb {
    -webkit-background-size: cover;
    opacity: 0.4;
    padding: 0;
    margin: 0;
}
.main-page-bgi {
    position: absolute;
    width: 100%;
    height: 1080px;
    opacity: 0.4;
}
.main-page-title {
    margin-top: 350px;
    text-align: center;
}
.main-page-title p {
    color: #fff;
    font-family: Lato;
    font-weight: Light;
    font-size: 28px;
    letter-spacing: 0.06em;
    text-align: center;
}
.main-page-title img {
    display: block;
    margin: 80px auto 70px;
}
.main-page-title a {
    color: #fff;
}
.main-page-title a:focus,
.main-page-title a:hover{
    color: #fff;
}
/*about me*/
header {
    width: 100%;
    min-height: 870px;
    background-color: #fff;
}
.menu {
    list-style-type: none;
}
.menu li {
    display: inline-block;
    padding: 0 25px;
}
.menu li a {
    color: #3c3c3c;
    text-transform: uppercase;
    font-family: Lato;
    font-size: 15px;
}
.menu li a:hover,
.menu li a:focus {
    text-decoration: none;
    color: #ada074;
}
.nav-line-light {
    height: 1px;
    background-color: #f2f2f2;
}
.nav-line-dark {
    height: 1px;
    background-color: #828282;
}
.photo {
    width: 195px;
    height: 195px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 2px solid #f4f2f3;
}
.subscribing p {
    margin-bottom: 50px;
    color: #a4a4a4;
    font-family: Lato;
    font-weight: Light;
    font-size: 18px;
    letter-spacing: -0.005em;
    text-align: justify;
    line-height: 18px;
}


/*GALLERY*/
.gallery {
    width: 100%;
    height: 100%px;
    background: #d7d6d6;
    -webkit-background-size: cover;
    background-size: cover;
}
.gallery-header h2 {
    margin-bottom: 46px;
}
.flex-gallery-photos {
    padding: 0 10% 0 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.flex-gallery-photos figure {
    /*width: 100%;*/
    /*height: 100%;*/
    flex-basis: 250px;
    margin-bottom: 10px;
    border: 1px solid #f2f2f2;
}
.flex-gallery-photos figure:hover {
    cursor: pointer;

}
.flex-gallery-photos img {
    /*padding: 10px;*/
    /*margin: 30px;*/
    width: 100%;
    height: 100%;
}
/*CONTACTS*/
.contacts {
    width: 100%;
    height: 760px;
    background: #f2e4cf;
    -webkit-background-size: cover;
    background-size: cover;
}
.contacts-data {
    color: #000;
    font-family: Lato;
    font-size: 14px;
    text-align: left;
    line-height: 40px;
}
.contacts-data *:link {
    text-decoration: none;
    color: #000;
}
.contacts-icons a {
    font-family: "Social Nets";
    color: #000;
    font-size: 17px;
    padding: 0 20px 0 0;
}
.contacts-icons a:hover,
.contacts-icons a:focus {
    text-decoration: none;
    color: #000;
}

/*ITEM*/
.item-main-photo {
    width: 100%;
    height: 100%;
    margin-top: 100px;
}

.item-description {
    margin-top: 130px;
    margin-bottom: 100px;
    color: #555;
    font-family: Lato;
    font-weight: Light;
    font-size: 18px;
    letter-spacing: 0.04em;
    text-align: justify;
}
.item-description p {
    display: inline-block;
}
.item-preview-photo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    z-index: 9999;
    animation: preview-photo 5s linear 2s 1 alternate;
}

.item-preview-photo img {

    width: 24%;
    height: 24%;
    margin: 20px 1px;
    padding: 0 0;
}
.article-slide .carousel-indicators img:hover {
    -webkit-transform: scale(1.5,1.5);
    -moz-transform: scale(1.5,1.5);
    -ms-transform: scale(1.5,1.5);
    -o-transform: scale(1.5,1.5);
    transform: scale(1.5,1.5);
    box-shadow: 0px 0px 2px #000000;
    border: solid 1px whitesmoke;
    z-index: 9999;
    }

/*@keyframes preview-photo {*/
    /*0% {*/
        /*margin-top: 0;*/
        /*transform: rotate(0deg);*/

    /*}*/
    /*25% {*/
        /*margin-top: -50px;*/
        /*box-shadow: 0px 0px 150px #000000;*/
        /*transform: rotate(45deg);*/
   /*}*/
    /*50% {*/
        /*margin: -100px;*/
        /*box-shadow: 0px 0px 250px #000000;*/
        /*transform: rotate(70deg);*/

    /*}*/
    /*75% {*/
        /*margin-top: -50px;*/
        /*box-shadow: 0px 0px 150px #000000;*/
        /*transform: rotate(45deg);*/

    /*}*/
    /*100% {*/
        /*margin-top: ;*/
        /*transform: rotate(0deg);*/
    /*}*/
/*}*/



/
/* Main carousel style */
.carousel {
    width: 600px;
}

/* Indicators list style */
.carousel-indicators {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    align-items: center;
    bottom: -100px;
    margin-left: 0;
    left: 0;
    width: 100%;
}
/* Indicators list style */
.article-slide .carousel-indicators li {
    border: none;
    border-radius: 0;
    float: left;
    height: 54px;
    margin-top: -100px;
    margin-bottom: 5px;
    width: 100%;
}
/* Indicators images style */
.article-slide .carousel-indicators img {
    border: 2px solid #FFFFFF;
    float: left;
    left: 0;
    width: 100%;
}
/* Indicators active image style */
.article-slide .carousel-indicators .active img {
    opacity: 0.9;
}
.article-slide .carousel-indicators .active img:hover {
    z-index: 9999;
}

.pswp__caption__center a {
    cursor: pointer;
    color: white;
}
